WebTech/XML/NewDTD.dtd


<!ELEMENT college (name,address,student)>
<!ELEMENT student (Id,name,age,department,email,address)>
<!ELEMENT address (temporary, permanent)>
<!ELEMENT Id (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT age (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT department (#PCDATA)>
<!ELEMENT temporary (#PCDATA)>
<!ELEMENT permanent (#PCDATA)>